body {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 365px) and (max-width: 933px) {
    body {

    }
    h1 {
        align-self: center;
    }
    
}
@media screen and (min-width: 934px) {
    body {

    }
    h1 {
        align-content: flex-start;
    }
}
